    <script type="text/javascript">
       $(document).ready(function() {
         // Initialize Smart Wizard
        $('#wizard').smartWizard();
        }); 
    </script>
<div id="wizard" class="swMain">
    <div id="step-1">   
        <h2 class="StepTitle">Step 1 Conten2t</h2>
         <!-- step content -->
    </div>
    <div id="step-2">
        <h2 class="StepTitle">Step 2 Content</h2> 
         <!-- step content -->
    </div>                      
    <div id="step-3">
        <h2 class="StepTitle">Step 3 Title</h2>   
         <!-- step content -->
    </div>
    <div id="step-4">
        <h2 class="StepTitle">Step 4 Title</h2>   
         <!-- step content -->                         
    </div>
</div>